<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="es">
<head>
    <style type="text/css">
        .header-right {
            position: relative;
            margin-left: -10px;
            margin-right: -10px;
        }
        .img-opacity {
            background-color: rgba(255, 255, 255, 0.1);
        }
    </style>
    <title>Pie de página</title>
</head>
<body>
<div class="header-right">
    {% if employer_footer %}
        <img class="img-opacity" src="{{ employer_footer }}" width="100%" alt="Pie de página"/>
    {% endif %}
</div>
</body>
</html>