<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="es">
<head>
    <style type="text/css">
        .header-right {
            position: relative;
            margin-left: -10px;
            margin-right: -10px;
        }
        .img-opacity {
            background-color: rgba(255, 255, 255, 0.1);
        }
    </style>
    <title>Cabecera</title>
</head>
<body>
<div class="header-right">
    <img  class="img-opacity" src="https://i.ibb.co/37mrMhd/footer-2.png"
         width="100%" alt="Logo"/>
</div>
</body>
</html>