<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="es">
<head>
    <style type="text/css">
        .header-right {
            position: relative;
            top: 1px;
            left: 0;
            right: 0;
            margin-right: 5%;
            text-align: right;
        }

        .img-opacity {
            background-color: rgba(255, 255, 255, 0.1);
        }
    </style>
    <title>Cabecera</title>
</head>
<body>
<div class="header-right">
    {% if employer_logo %}
        <img class="img-opacity" src="{{ employer_logo }}" width="250px" align="right" alt="Logo"/>
    {% endif %}
</div>
</body>
</html>